.issue-meta {
    border-bottom: 1px solid lightgray;
}

.issue-id {
    font-family: "JetBrains Mono", monospace;
}

.issue-description {
    margin-top: 30px;
    margin-left: 10px;
    width: 80vw;
    text-align: justify;
}

.issue-edit-bar {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 20px;
}
