html, body {
    min-height: 100%;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
}

.nav-menu {
    width: 25px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.navBtn {
    width: 25px;
    height: 25px;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 45px;
}

.navBtn:hover {
    color: rgb(82, 150, 255);
}

#contents {
    flex: 1;
    width: 100%;
    /*box-sizing: border-box;*/
    padding: 20px 20px 40px 85px;
}

#contents a {
    color: inherit;
    text-decoration: none;
}

#contents a:visited {
    color: inherit;
}

#contents a:hover {
    text-decoration: none;
}

#contents a:active {
    color: inherit;
}

.modifier {
    height: 40px;
    min-width: 80px;
    max-width: 10vw;
    border-radius: 5px;
    border: 2px solid black;
    padding: 0 12px;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    text-align: center;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.30);
}

.modifier:hover {
    border: 2px solid rgba(0, 0, 0, 0.80);
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(82, 150, 255, 0.18);
    cursor: pointer;
}

input,
select,
textarea {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    height: 40px;

    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.30);
}

select {
    text-align: center;
}

input:hover,
select:hover,
textarea:hover {
    border: 2px solid rgba(0, 0, 0, 0.80);
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(82, 150, 255, 0.18);
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid rgba(0, 0, 0, 0.80);
    background-color: #fbfbfb;
    box-shadow: 0 10px 20px rgba(82, 150, 255, 0.18);
}