/* Sidebar */
.sidebar {
    -fx-background-color: #2b2b2b;
}

.icon-btn {
    -fx-background-color: transparent;
    -fx-pref-width: 36;
    -fx-pref-height: 36;
    -fx-cursor: hand;
}

/* Settings panel container */
.settings-pane {
    -fx-background-color: white;
    -fx-padding: 18;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0.5, 0, 2);
}

/* Issues list container (transparent large card) */
.issues-card {
    -fx-background-color: transparent;
    -fx-control-inner-background: tranparent;
    -fx-padding: 14;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.18), 14, 0.5, 0, 6);
}

/* Individual issue cell */
.issue-cell {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-border-radius: 8;
}

.list-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(82, 150, 255, 0.18), 14, 0.5, 0, 6);
}

.issue-status {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.issue-id {
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: "JetBrains Mono";
}

.issue-title, .issue-author, .issue-date-opened, .issue-due-date {
    -fx-alignment: CENTER_LEFT;
}

.list-cell:filled:selected .issue-id,
.list-cell:filled:selected .issue-title,
.list-cell:filled:selected .issue-author,
.list-cell:filled:selected .issue-date-opened,
.list-cell:filled:selected .issue-due-date {
    -fx-text-fill: black; /* or any visible color */
}

/*.issue-tag {*/
/*    -fx-background-color: #d73a4a;*/
/*    -fx-text-fill: white;*/
/*    -fx-padding: 2 6 2 6;*/
/*    -fx-border-radius: 4;*/
/*    -fx-background-radius: 4;*/
/*    -fx-font-size: 11px;*/
/*}*/

.issue-description {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
    -fx-control-inner-background: tranparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.18), 14, 0.5, 0, 6);
}

.error-field {
    -fx-border-color: #E53935;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-color: #FFEBEE;
}

.toast {
    -fx-background-color: #323232;
    -fx-text-fill: white;
    -fx-padding: 8px 15px;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-opacity: 0.9;
}